<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Det er vores index side</title>
</head>


<body id="Home">

        <header>
            <nav>
                <ul>
                    <a href="index">Home</a> <!-- virker ikke -->
                    <a href="createWeekendEvents">Create WeekendEvent</a>
                    <a href="succes">Your Event</a>
                    <a href="overview">overview</a>
                </ul>
            </nav>
        </header>
        <hr>
        <br>
        <h1 >Welcome to WeekdenEvents</h1>
        <p><h2>WeekdenEvents homepage is for the Muttly people.</h2></p>
        <a href="/createWeekendEvents">Click to create new Event</a>

        <br><br><br>
        <hr>
        <footer>
            <nav>
                <ul>
                    <a href="index">Home</a>
                    <a href="createWeekendEvents">Create WeekendEvent</a>
                    <a href="succes">Your Event</a>
                    <a href="overview">overview</a>
                </ul>
            </nav>
        </footer>

</body>
</html>